accelerate==1.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
bitsandbytes==0.45.2
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cut-cross-entropy==25.1.1
datasets==3.3.1
dill==0.3.8
docstring_parser==0.16
einops==0.8.1
filelock==3.17.0
flash_attn @ https://huggingface.co/lldacing/flash-attention-windows-wheel/resolve/main/flash_attn-2.7.4%2Bcu124torch2.6.0cxx11abiFALSE-cp311-cp311-win_amd64.whl#sha256=bfa691e432859efb0729c94213f4eb7b5834ed74a4e1110a28cd5a0ba3ba8ba9
Flask==3.1.0
frozenlist==1.5.0
fsspec==2024.12.0
gguf==0.14.0
hf_transfer==0.1.9
huggingface-hub==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.3
ninja==1.11.1.3
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
peft==0.14.0
pillow==11.0.0
propcache==0.2.1
protobuf==3.20.3
psutil==7.0.0
pyarrow==19.0.0
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
shtab==1.7.1
six==1.17.0
sympy==1.13.1
threadpoolctl==3.5.0
tokenizers==0.21.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.1
transformers==4.49.0
triton @ https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post5/triton-3.1.0-cp311-cp311-win_amd64.whl#sha256=1628cd027ea4544e73e9827f294f79c6f7186af28debf8dc209f744a74fdbb10
trl==0.15.0
typeguard==4.4.2
typing_extensions==4.12.2
tyro==0.9.14
tzdata==2025.1
unsloth @ git+https://github.com/unslothai/unsloth.git@d1d15f1d14f1168837d29b9c08e9b6d63945d469
unsloth_zoo==2025.2.5
urllib3==2.3.0
Werkzeug==3.1.3
xformers==0.0.29.post3
xxhash==3.5.0
yarl==1.18.3
